@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
  --primary: #c17f4c;
  --secondary:#ffffff ;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--primary);
  color: var(--secondary);
  position: relative;
}

p{
  font-size: 15px;
}

a{
  text-decoration: none;
  color: #463529;
  font-family: poppins;
  font-size: 14px;
  cursor: pointer;
}

img{
  width: 100%;
  height: 100%;
}

.app-container{
  min-height: 100vh;
  position: relative;
}

header{
  background-color: var(--primary);
  padding: .4rem 0;
  position: fixed;
  z-index: 100;
  width: 100%;
}

section{
  width: 90%;
  margin: 0 auto;
}

div{
  display: block;
}

button{
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: .3s ease-in;
}

.nav-section{
  display: flex;
  justify-content:space-between ;
  align-items: center;
}

.nav-section h3{
  font-family: poppins;
  font-size: 1.2rem;
  color: #ffffff;
}

.cart{
  font-size: 1.3rem;
  color: #ffffff;
  position: relative;
}

.cart-count{
  color: #463529;
  font-size: 13px;
  position: absolute;
  font-weight: bold;
  right: 1%;
  top: 4%;
}

.home{
  background-color: var(--secondary);
  min-height: 100vh;
  color: var(--primary);
  padding: 0 0;
}

.bg-banner{
  background-image: url('./assets/bg-main.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.bg-text{
  background-color: rgba(0, 0, 0, .8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  gap: 1.5rem;
  padding: 2rem 0 0;
  position: relative;
}

.bg-text h2{
  margin: 0 auto;
  width: 80%;
  color: var(--secondary);
  font-family: poppins;
  text-transform: capitalize;
  border-left: 1px solid var(--primary);
  padding: 0 .5rem;
}

.primary-btn{
  padding: .8rem 1.2rem;
  background-color: transparent ;
  color: var(--secondary);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid var(--primary);
  border-top: 2px solid var(--primary);
  font-family: poppins;
  text-transform: capitalize;
}

.primary-btn:hover{
  background-color: transparent;
  text-decoration: underline;
}

.secondary-btn{
  padding: 1rem ;
  width: 90%;
  border-radius: 8px;
  display: block;
  margin: 1.5rem auto 1rem;
  background-color: #463529;
  color: #ffffff;
  font-weight: 600;
  font-size: .9rem;
}

.secondary-btn:hover{
  background-color: transparent;
  border: 1px solid #463529;
  text-decoration: underline;
}

.mobile-menu{
  color: #463529;
  width: 70%;
  padding: 1rem 0;
  position: fixed;
  bottom: 3%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobile-menu ul{
  background-color: var(--secondary);
  width: 100%;
  text-align: left;
}

.mobile-menu ul li{
  list-style: none;
  font-size: 14px;
  margin-bottom: .3rem;
  padding: 10px 7px;
}

.mobile-menu ul li:hover{
  color: var(--secondary);
  background-color: var(--primary);
}

.mobile-nav{
  padding: .5rem 1rem;
  background-color: var(--secondary);
  border-radius: 50%;
  border: 2px solid #463529;
}

.mobile-nav:hover{
  background-color: #463529;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.fa-close{
  color: red;
}


.products-section, .cart-section, .product-desc-section, .checkout-section, .error-page-section{
  min-height: 100vh;
  padding-top: 5rem;
  cursor: pointer;
}

.products-section h3, .cart-section h3{
  text-align: center;
  font-family: poppins;
}

.products-section hr, .cart-section hr{
  margin: 0 auto 2rem;
  width: 10%;
  border: 1px solid white;
  color: var(--secondary);

}

.products-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.product-card{
  min-height: 200px;
  background-color: var(--secondary);
  color: #463529 ;
  border-radius: 8px ;
  margin-bottom: 1rem;
  overflow: hidden;
}

.product-image{
  background-color: #463529;
  height:110px ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0;
}

.product-image img{
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.product-extra{
  height: 90px;
  padding: .6rem .4rem;
  background-color: var(--secondary);
  text-align: center;
  color: var(--primary);
  border-top: 1px solid var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
}

.product-extra .title{
  color: #463529 ;
  font-family: poppins;
  font-size: .7rem;
  text-decoration: underline;
}

.product-extra div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product-extra div p{
  font-weight: 600;
  color: #463529;
  font-size: .7rem;
  font-family: poppins;
}

.fa-star{
  font-size: .7rem;
}

.fa-arrow-left{
  text-decoration: underline;
  margin: 0 0 2.5rem 0;
  color: #ffffff;
}

.back{
  margin: 0 0 0 .3rem;
}

.products-section{
  width: 95%;
}

.product-desc-section{
    padding-top: 4rem;
}

.product-desc-card{
  min-height: 450px;
  width: 100%;
  border-radius: 1rem;
  background-color: white;
  margin: 0 auto;
}

.product-desc-img{
  height: 250px;
  background-color: #463529;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
}

.product-desc-img img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product-desc-details{
  padding: 1rem;
}

.product-desc-details h3{
  color: #463529;
  font-family: poppins;
}

.product-desc-details p{
  color: #463529;
  margin: 1rem 0;
  font-family: poppins;
  font-size: .9rem;
  line-height: 1.6rem;
}

.product-desc-details .fa-star{
  color: #463529;
  width: 100%;
  font-size: 1rem;
  text-align: right;
}

.product-desc-details .price{
  font-weight: 600;
  font-size: 1.2rem;
}


.product-desc-details .secondary-btn{
  padding: .8rem;
  margin: 1.5rem auto 0;
}

.product-desc-details .secondary-btn:hover{
  color: #463529;
  background-color: transparent;
  border: 1px solid #463529;
}


.cart-section hr{
  margin: 0 auto 1rem; 
}

.empty-cart{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.empty-cart button{
  width: 30%;
}

.cart-card{
  height: 110px;
  width: 100%;
  margin: 0 auto 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.cart-img{
  height: 100%;
  width: 35%;
  background-color: #463529;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-img img{
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.cart-desc{
  height: 100%;
  width: 65%;
  background-color: var(--secondary);
  position: relative;
}

.cart-desc > div{
  padding: .5rem ;
}

.cart-desc .title{
  color: #463529;
  font-size: .9rem;
  font-weight: bold;
}

.cart-desc .price{
  color: #463529;
  margin: .4rem 0 0;
  font-size: .9rem;
}

.cart-actions{
  color: #463529;
  font-size: 14px;
  position: absolute;
  padding: .5rem ;
  width: 100%;
  bottom:0 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-actions div button{
  border: 1px solid #463529;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: transparent;
}

.cart-actions div button:hover{
  background-color:ghostwhite;
}

.trash-btn{
  background-color: transparent;
}

.fa-trash{
  color: red;
  font-size: 1.1rem;
}

.fa-trash:hover{
  color: rgba(255, 0, 0, .8);
}

.cart-actions span{
  margin: 0 1rem;
}


.cart-overview{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 4rem 1rem;
}

.cart-overview h3{
  font-family: poppins;
  margin: .5rem auto;
}

.shipping, .subtotal, .total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .6rem 0;
}

.cart-overview > div div p{
  font-size: 1rem;
  font-family: poppins;
}


.checkout-card{
  background-color: #ffffff;
  color: #463529;
  padding: 1rem;
  border-radius: 1rem;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.checkout-card h3{
  font-family: poppins;
}

.checkout-card .fa-check-circle{
  font-size: 3rem;
  margin: 2rem 0 .5rem;
  color: green;
}

.checkout-card .secondary-btn:hover{
  color: #463529;
}

.error-page-section{
  border: 1px solid red;
  font-family: poppins;
}

.error-page-section div{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}